<link rel="stylesheet" href="/static/assets/css/style.css" />

<div class="box-codingdata"></div>

<main class="container myform-section-wrapper my-4 mt-5">

  <div class="row justify-content-between align-items-center mb-10">

    <!-- Page Heading Start -->
    <div class="col-12 col-lg-auto mb-20" style="margin:20px 0;">
      <div class="page-heading page-heading-custom">
        <h3 class="title">اطلاعات پایه
          <span>/ جزییات کدینگ
            <span style="font-size:20;">{{fa_TableName}}</span></span><span>/
            جدید</span></h3>
      </div>
    </div><!-- Page Heading End -->

  </div>

  <div class="row">
    <div class="col-12 col-sm-12 col-md-12">
      <form  method="POST"  name="frmCodingData"  action="../update/{{codingData.id}}" class="row g-3 needs-validation">
        {{#if hasError}}
          <div class="alert alert-danger">
            {{#each errors}}
              <small class="errMessage">{{this}}</small>
            {{/each}}
          </div>
        {{/if}}

        <div class="form-floating mb-3">

          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="fa_TableName"
              name="fa_TableName"
              maxlength="30"
              autocomplete="off"
              placeholder="نام فارسی جدول را وارد کنید."
              readonly
              value="{{codingData.CodeTableList.fa_TableName}}"
              required
            />
            <label for="fa_TableName" class="mandatory">نام فارسی جدول</label>

            <small class="errMessage" data-err="formatted" hidden>
              حداکثر نام فارسی جدول سی کاراکتر باشد.</small>
            <small class="errMessage" data-err="mandatory" hidden>نام فارسی جدول
              اجباری می باشد.
            </small>

          </div>

        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="title"
            name="title"
            value="{{codingData.title}}"
            maxlength="30"
            placeholder="عنوان کدینگ را وارد کنید."
            title="لظفا عنوان کدینگ  را وارد کنید."
            autocomplete="off"
            autofocus="true"
            required
          />
          <label for="title" class="mandatory">کد </label>

          <small class="errMessage" data-err="formatted" hidden>
            حداکثر عنوان کدینگ 30 رقمی می‌باشد.</small>
          <small class="errMessage" data-err="mandatory" hidden>
            عنوان کدینگ اجباری می باشد.
          </small>

        </div>

        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="description"
            name="description"
            maxlength="50"
            autocomplete="off"
            value="{{codingData.description}}"
            placeholder="توضیحات در خصوص کدینگ را وارد کنید."
          />
          <label for="description" class="mandatory">توضیحات کدینگ</label>

          <small class="errMessage" data-err="formatted" hidden>
            حداکثر توضیحات کدینگ جدول 30 کاراکتر باشد.</small>

        </div>
            <div class="form-floating mb-3">
              <input type="number" class="form-control" id="sortId" name="sortId" autocomplete="off" value="{{codingData.sortId}}"
              placeholder="رتیه کدینگ را وارد کنید." required>
              <label for="sortId" class="mandatory">رتبه</label>

              <small class="errMessage" data-err="mandatory" hidden>رتبه جدول اجباری می باشد. </small>

            </div>

            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="refId" name="refId" value="{{codingData.refId}}"
              autocomplete="off" placeholder="کد ثانویه کدینگ را وارد کنید.">
              <label for="refId" class="mandatory">کد ثانویه</label>

            </div>


        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            readonly
            id="creator"
            name="creator"
            value="{{codingData.creator}}"
          />
          <label for="creator" class="mandatory">ایجاد کننده</label>
        </div>

        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            readonly
            id="created_at"
            name="created_at"
            value="{{fa_createdAt}}"
          />
          <label for="created_at" class="mandatory">تاریخ ایجاد</label>
        </div>

        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            readonly
            id="updater"
            name="creator"
            value="{{codingData.updater}}"
          />
          <label for="creator" class="mandatory">اصلاح کننده</label>
        </div>

        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            readonly
            id="updated_at"
            name="updated_at"
            value="{{fa_updatedAt}}"
          />
          <label for="created_at" class="mandatory">تاریخ اصلاح</label>
        </div>

        <div class="col-12 my-2 text-center">
          <button
            class="btn btn-success custom-btn"
            type="submit"
            id="btnSubmit"
          >اصلاح </button>
          <a
            class="btn btn-secondary custom-btn"
            type="reset"
            id="btnCancel"
            href="../index/{{codingData.CodeTableListId}}"
          >انصراف</a>
        </div>
      </form>
    </div>
  </div>
</main>