<link href="/static/assets/vendor/select2/dist/css/select2.min.css" rel="stylesheet" />
<style>
  .select2-container--default .select2-selection--single .select2-selection__rendered{
    position: absolute;
    top:-0px;
  }
  .select2-container--default .select2-selection--single .select2-selection__arrow{
    position: absolute;
    top: -7px;
  }
</style>
<div class="box-codingdata"></div>
    <!-- Page Heading Start -->
        <div class="page-heading page-heading-custom">
          <h3 class="title">اطلاعات پایه <span>/ جزییات کدینگ دیتا</span></h3>
        </div>
  <!-- Page Heading Start -->

    <div class="page-heading">
      <h4> جزییات کدینگ : <span style="font-style: italic;font-size: 23px;">{{fa_TableName}}</span> </h4>
    </div>

  <!-- Page Heading End -->
  <!-- Page Button Group Start -->
  <div style="text-align: left;position: relative;top:-25px">
    <div class="buttons-group">
      <a href="../create/{{codeTableListId}}" class="button button-primary">
        <span><i class="zmdi zmdi-plus"></i>تعریف کدینگ جدید</span>
      </a>
    </div>
  </div>

  {{!-- Select CodeTableList --}}

  <!-- Page Button Group End -->
  {{#if success}}
    <div class="col-12 w-100 d-flex justify-content-center mt-1 mb-1">
      <p class="alert alert-success w-50 text-center">{{success}}</p>
    </div>
  {{/if}}
         
  {{#if removeSuccess}}
    <div class="col-12 w-100 d-flex justify-content-center mt-1 mb-1">
      <p class="alert alert-danger w-50 text-center">{{removeSuccess}}</p>
    </div>
  {{/if}} 



  <div style="margin:1px; width:40%;">
    <label for="cmbCodeTableList">نام جداول کدینگ</label>
    <form action="" method="get">
      <select id="cmbCodeTableList" name="cmbCodeTableList" style="position: relative;" onchange="doAction(this.value);">
        {{#each codeTableListData}}
          <option value="{{this.id}}" {{#isSelected this.id}}{{/isSelected}}> {{this.fa_TableName}}  -  {{this.en_TableName}}</option>
        {{/each}}
      </select>
    </form>
</div>

  <!-- Revenue Statistics Chart Start -->
<div class="col-md-12 mb-30">
    <div class="box">
      <div class="box-body table-responsive">
        
        <table class="table table-hover table-bordered mb-0 table-custom" id="codingData">
          <!-- Table Head Start -->
          <thead>
            <tr class="table-header-custom">
              <th class="col-md-1">ردیف</th>
              <th class="col-md-3 text-center">عنوان</th>
              <th class="col-md-2 text-center">توضیحات</th>
              <th class="col-md-1">رتبه</th>
              <th class="col-md-1">کد ثانویه</th>
              <th class="col-md-2">تاریخ ایجاد</th>
              <th class="col-md-2 text-center">نام درخواست کننده</th>
            </tr>
          </thead>
          <!-- Table Head End -->

          <!-- Table Body Start -->
          <!-- Table Body End -->
        </table>
      </div>
    </div>
  </div>


<script>
 function doAction(val){
        //Forward browser to new url
        window.location='' + val;
    }
</script>