<link rel='stylesheet' href='/static/assets/css/style.css' />

<main class='container myform-section-wrapper my-4 mt-5'>
  <div class='row justify-content-between align-items-center mb-10'>
    <!-- Page Heading Start -->
    <div class='col-12 col-lg-auto mb-20' style='margin:20px 0;'>
      <div class='page-heading page-heading-custom'>
        <h3 class='title'>{{title}} <span>/ {{subTitle}} </span></h3>
      </div>
    </div><!-- Page Heading End -->
  </div>

  <div class='row organization-form'>
    <div class='col-12 col-sm-12 col-md-12'>
      {{! <form method='POST' name='frmOrganization' id='frmOrganization' action='./store' class='row g-3 needs-validation' enctype="multipart/form-data" data-frmValidation novalidate> }}
      <form method='POST' name='frmOpenAccount' id='frmOpenAccount' action='./store' class='row g-3 needs-validation' data-frmValidation novalidate>

        {{#if hasError}}
          <div class='alert alert-danger'>
            {{#each errors}}
              <small class='errMessage'>
                {{this}}
              </small>
            {{/each}}
          </div>
        {{/if}}

        <!-- ستون سمت چپ -->
        <div style='margin:1px; '>
          <label for='bankId' class='mandatory'>نام بانک</label>
          <select id='cmbBankList' name='bankId' style='position: relative;' data-farsiname='بانک' required>
            <option value=''>لطفا نام بانک را انتخاب کنید</option>
            {{#each banksListData}}
              <option value='{{this.id}}'>{{this.title}} </option>
            {{/each}}
          </select>
        </div>

        <div style='margin:1px; '>
          <label for='bankBranchId' class='mandatory'>شعبه بانک</label>
          <select id='cmbBankBranchList' name='bankBranchId' style='position: relative;' data-farsiname='شعبه بانک' required>
            <option value=''>لطفا شعبه بانک را انتخاب کنید</option>
            {{#each bankBranchesListData}}
              <option value='{{this.id}}'>{{this.title}} </option>
            {{/each}}
          </select>
        </div>

        <div style='margin-top:15px; '>
            <label for='organizationId' >نام دستگاه </label>
            <select id='cmbOrganizationId' name='organizationId' style='position: relative;' data-farsiname='نام دستگاه' >
              <option value=''>لطفا نام دستگاه را انتخاب کنید</option>
              {{#each organizationsListData}}
                <option value='{{this.id}}'>{{this.organizationName}} -- {{this.nationalCode}} </option>
              {{/each}}
            </select>
          </div>

          <div class='form-floating mb-3'>
            <input type='text' class='form-control' id='requestLetterNo' name='requestLetterNo' placeholder='شماره حساب را وارد کنید.' autocomplete='off' />
            <label for='requestLetterNo'>
               شماره نامه درخواست
            </label>
          </div>

          <div class='form-floating mb-3'>
            <input type='text' class='form-control' id='requestLetterDate' name='requestLetterDate' placeholder='تاریخ ثبت را وارد کنید.' autocomplete='off' />
            <label for='requestLetterDate'>
              تاریخ نامه درخواست
            </label>
          </div>

        <div style='margin-top:15px; '>
            <label for='accountTypeId' >نوع حساب </label>
            <select id='cmbAccountTypeId' name='accountTypeId' style='position: relative;' data-farsiname='نوع حساب' >
              <option value=''>لطفا نوع حساب را انتخاب کنید</option>
              {{#each accountTypesListData}}
                <option value='{{this.id}}'>{{this.title}} </option>
              {{/each}}
            </select>
          </div>


          <div class='form-floating mb-3'>
            <textarea class='form-control' id='address' name='address' placeholder='آدرس را وارد کنید.' autocomplete='off'></textarea>
            <label for='address'>
              آدرس
            </label>
          </div>

        </div>

        <!-- ستون سمت راست -->
        <div class='col-md-6'>
          <div style='margin-top:10px; '>
            <label for='provinceId' >استان</label>
            <select id='cmbProvinceList' name='provinceId' style='position: relative;' data-farsiname='استان'>
              <option value=''>لطفا استان را انتخاب کنید</option>
              {{#each provincesListData}}
                <option value='{{this.id}}'>{{this.title}} </option>
              {{/each}}
            </select>
          </div>

          <div style='margin-top:15px; '>
            <label for='parentOrganizationId' >نام دستگاه مادر</label>
            <select id='cmbparentOrganizationId' name='parentOrganizationId' style='position: relative;' data-farsiname='نام دستگاه مادر' >
              <option value=''>لطفا نام دستگاه مادر را انتخاب کنید</option>
              {{#each parentOrganizationsListData}}
                <option value='{{this.id}}'>{{this.organizationName}} -- {{this.nationalCode}} </option>
              {{/each}}
            </select>
          </div>

          <div style='margin-top:15px;'>
            <label for='organizationTypeId' >جنس سازمان</label>
            <select id='cmbOrganizationType' name='organizationTypeId' style='position: relative;' accept='.pdf' data-farsiname='جنس سازمان'>
              <option value=''>لطفا جنس سازمان را انتخاب کنید</option>
              {{#each organizationTypesListData}}
                <option value='{{this.id}}'>{{this.title}} </option>
              {{/each}}
            </select>
          </div>

          <div style='margin-top:15px; '>
            <label for='organizationCategoryId' >نوع سازمان</label>
            <select id='cmbOrganizationCategory' name='organizationCategoryId' style='position: relative;' accept='.pdf' data-farsiname='نوع سازمان'>
              <option value=''>لطفا نوع سازمان را انتخاب کنید</option>
              {{#each organizationCategoriesListData}}
                <option value='{{this.id}}'>{{this.title}} </option>
              {{/each}}
            </select>
          </div>

          {{! <div class='mb-3'>
            <label for='filePathFinancial' class='form-label'>گزارش مالی</label>
            <input type='file' class='form-control' id='filePathFinancial' name='filePathFinancial' accept='.pdf' />
            <div class='form-text'>حداکثر حجم فایل: 5 مگابایت - فرمت مجاز: PDF</div>
          </div> }}

          {{! <div class='mb-3'>
            <label for='filePathFoundationAd' class='form-label'>آگهی تأسیس</label>
            <input type='file' class='form-control' id='filePathFoundationAd' name='filePathFoundationAd' accept='.pdf' />
            <div class='form-text'>حداکثر حجم فایل: 5 مگابایت - فرمت مجاز: PDF</div>
          </div> }}

          <div class='form-floating mb-3' style='margin-top:15px; '>
            <textarea class='form-control' id='description' name='description' placeholder='توضیحات را وارد کنید.' autocomplete='off'></textarea>
            <label for='description'>
              توضیحات
            </label>
          </div>
        </div>

        <!-- دکمه‌های ثبت و انصراف -->
        <div class='col-12 my-2 text-center'>
          <button class='btn btn-success custom-btn' type='submit' id='btnSubmit'>
            ثبت
          </button>
          <a class='btn btn-secondary custom-btn' type='reset' id='btnCancel' href='./index'>
            انصراف
          </a>
        </div>
      </form>
    </div>
  </div>
</main>

{{!-- <script>
  // اعتبارسنجی فایل‌ها document.getElementById('frmOrganization').addEventListener('submit', function(e) { const files = [ { input: 'filePathStatute', name: 'اساسنامه' }, { input: 'filePathFinancial', name: 'گزارش مالی' }, { input: 'filePathFoundationAd', name: 'آگهی تأسیس' } ]; for (const file of files) { const input =
  document.getElementById(file.input); if (input.files.length > 0) { const fileSize = input.files[0].size; const fileType = input.files[0].type; // بررسی حجم فایل if (fileSize > 5 * 1024 * 1024) { alert(`حجم فایل ${file.name} نباید بیشتر از 5 مگابایت باشد.`); e.preventDefault(); return; } // بررسی نوع فایل if (fileType !== 'application/pdf') {
  alert(`فایل ${file.name} باید از نوع PDF باشد.`); e.preventDefault(); return; } } } });
</script> --}}

<script>
  $(document).ready(function() {
    $('#registerDate').persianDatepicker({
      format: 'YYYY/MM/DD',
      initialValue: false,
      autoClose: true,
      position: 'auto',
      calendar: {
        persian: {
          locale: 'fa'
        }
      },
      onSelect: function(unix) {
        const date = new persianDate(unix);
        $('#registerDate').val(date.format('YYYY/MM/DD'));
      }
    });
  });
</script>

<script src='/static/assets/js/formValidation.js'></script>