<link rel='stylesheet' href='/static/assets/css/style.css' />

<div class='box-codingdata'></div>

<main class='container myform-section-wrapper my-4 mt-5'>

  <div class='row justify-content-between align-items-center mb-10'>

    <!-- Page Heading Start -->
    <div class='col-12 col-lg-auto mb-20' style='margin:20px 0;'>
      <div class='page-heading page-heading-custom'>
        <h3 class='title'>{{title}} <span>/ {{subTitle}} </span></h3>
      </div>
    </div><!-- Page Heading End -->

  </div>

  <div class='row login-form'>
    <div class='col-12 col-sm-12 col-md-12'>
      <form method='POST' name='frmPerson' action='../update/{{personData.id}}' class='row g-3 needs-validation' data-frmValidation novalidate>
        {{#if hasError}}
          <div class='alert alert-danger'>
            {{#each errors}}
              <small class='errMessage'>{{this}}</small>
            {{/each}}
          </div>
        {{/if}}

        <div class='form-floating mb-1'>
          <input type='text' class='form-control' name='firstName' maxlength='50' minlength='2' name='firstName' value='{{personData.firstName}}' required />
          <label for='firstName' class='mandatory'>نام </label>
        </div>

        <div class='form-floating mb-1'>
          <input type='text' class='form-control' name='lastName' maxlength='50' minlength='2' value='{{personData.lastName}}'  required/>
          <label for='lastName' class='mandatory'>نام خانوادگی</label>
        </div>

        <div class='form-floating mb-1'>
          <input type='text' class='form-control' name='nationalCode' maxlength='10' minlength='10' value='{{personData.nationalCode}}' required />
          <label for='nationalCode' class='mandatory'>کد ملی</label>
        </div>

        <div class='form-floating mb-1'>
          <input type='text' class='form-control' name='mobile' maxlength='11' minlength='11' value='{{personData.mobile}}'  required/>
          <label for='mobile' class='mandatory'>شماره موبایل </label>
        </div>

        <div class='form-floating mb-1'>
          <input type='text' class='form-control' name='Description' value='{{personData.Description}}' />
          <label for='Description'>توضیحات</label>
        </div>

        <div class='form-floating mb-1'>
          <input type='text' class='form-control' readonly name='creator' value='{{personData.creator.username}}' />
          <label for='creator' class='mandatory'>ایجاد کننده</label>
        </div>

        <div class='form-floating mb-1'>
          <input type='text' class='form-control' readonly name='created_at' value='{{fa_createdAt}}' />
          <label for='created_at' class='mandatory'>تاریخ ایجاد</label>
        </div>

        <div class='form-floating mb-1'>
          <input type='text' class='form-control' readonly name='updater' value='{{personData.updater.username}}' />
          <label for='updater' class='mandatory'>اصلاح کننده</label>
        </div>

        <div class='form-floating mb-1'>
          <input type='text' class='form-control' readonly name='updated_at' value='{{fa_updatedAt}}' />
          <label for='created_at' class='mandatory'>تاریخ اصلاح</label>
        </div>

        <div class='col-12 my-2 text-center'>
          <button class='btn btn-success custom-btn' type='submit' id='btnSubmit'>اصلاح </button>
          <a class='btn btn-secondary custom-btn' type='reset' id='btnCancel' href='../index'>انصراف</a>
        </div>
      </form>
    </div>
  </div>
</main>

<script src='/static/assets/js/formValidation.js'></script>
